<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProfile.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <title>Perfil</title>
</head>
<body>
    <div id="app">
        <div class="header-box">
            <div class="content">
                    <img src="/img/profile.jpg" alt="profile_photo">
                    <h1>Sharkcode</h1>
            </div>
        </div>
        <div class="footer-box">
            <h2 class="title-form">Seus dados</h2>
                <form class="form"action="/profile">

                    <div class="input-group">
                        <label for="iFistName">Nome</label>
                        <input type="text" name="name" id="iFirstName">
                    </div>
                    <div class="input-group">
                        <label for="iLastName">Sobrenome</label>
                        <input type="text" name="lastname" id="iLastName">
                    </div>
                    <div class="input-group">
                        <label for="iEmail">Email</label>
                        <input type="text" name="email" id="iEmail">
                    </div>
                    <div class="input-group">
                        <label for="iWhatsapp">Whatsapp</label>
                        <input type="text" name="whatsapp" id="iWhatsapp">
                    </div>
                    <div class="input-group">
                        <label for="iBiography">Biografia</label> 
                        <textarea type="text" name="biography" id="iBiography"></textarea>
                    </div>
                </form>

                
                    <footer>
                     <div class="important-group">
                        <img src="/img/attention.svg" alt="Atenção">
                        <div class="important">
                        <h3 >Importante!</h3>
                        <p>Preencha todos os dados corretamente</p>
                        </div>
                    </div>
                        
                    <button type="submit">Salvar cadastro</button>
                    </footer>
        </div>
                



           
        
    </div>
    <script></script>
</body>
</html>