
<html>
    <head>
        <title>Recuperar Senha</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/css/styleRecuperarSenha.css">
    </head>
    <body>
        <div class="container">
            <div class="content">
            <h2>Digite seu e-mail para recuperar senha.</h2>
            <form action="senharecuperada">
            <input type="email" name="" id="iemail" placeholder ="Digite aqui" > 
            <button type="submit" class="btn">Enviar e-mail</button>
           </form>
            </div>
        </div>
    </body>
</html>