<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrado!</title>
    <link rel="stylesheet" href="/css/styleRegisterSuccess.css">
</head>
<body>

    <div class="container">
        <img src="/img/checkButton.svg" alt="">

        <h1 class="title">Cadastro concluído</h1>
        <p>Agora você faz parte da plataforma da monitora.</p>
        <p>Tenha uma ótima experiência</p>

        <button onclick="window.location.href = 'localhost:profile'" >Fazer Login</button>
    </div>

    
</body>
</html>