<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvo!</title>
    <link rel="stylesheet" href="/css/styleSaveSuccess.css">
</head>
<body>

    <div class="container">
        <img src="/img/checkButton.svg" alt="">

        <h1 class="title">Salvo com sucesso</h1>

        <button onclick="window.location.href = 'localhost:4000/profile'">Voltar ao perfil</button>
    </div>

    
</body>
</html>