<html>
    <head>
        <title>Recuperar Senha</title>
        
        <link rel="stylesheet" href="./css/styleSenhaRecuperada.css">
    </head>
    <body>
        <div class="container">
            <div class="content">
            <h2>Um e-mail será enviado para você =)</h2>
            </div>
        </div>
    </body>
</html>
